body{
	background-color:  #0d0d0d;
	margin: 0;
	font-family: "Montserrat";
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;  /*to make the divs appears as it doesn't have contant and 30% to get the square shape with the width*/
	float:left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.8s;
	-webkit-transition:background 0.8s;
	-moz-transition:background 0.8s;
}

#container{
	margin: 20px auto; /*to center them*/
	max-width: 600px;

}
#message{
	display: inline-block;
	width: 20%;
}

h1{
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font:inherit;
	transition: all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	outline: none;
}
button:hover{
	color: white;
	background-color: steelblue;
}

#colorDisplay{
	font-size: 200%;
}


#stripe{
	background-color: white;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background-color: steelblue;
}